---
layout: default
title: Home
---

<main class="container">
    <hr />
    {% include personal-data.html %}
    <hr />
    <div class="row">
        <div class="col-8">
            {% include education.html %}
            <hr />
            {% include experience-simple.html %}
        </div>
        <div class="col-4">
            {% include skills.html %}
            <hr>
            {% include project-list.html %}
        </div>
    </div>

</main>

<!--Todo timeline examples-->
<!--<hr />-->
<!--{% include experience.html %}-->
<!--<hr />-->
<!--{% include timeline.html %}-->
<!--<hr />-->
<!--{% include bootstrap-timeline.html %}-->