{% assign schools = site.data.school.items %}

<div class="section-head mb-4">
    <h3 class="bottom-border">Education</h3>
</div>

{% if schools %}
<div class="d-flex flex-wrap justify-content-start">
    {% for school in schools %}
        <div class="mx-1 school-card">
            {% assign period = school.year.start | append: "-" | append:school.year.end %}
            {% assign degreeAndSpecialty = school.degree | append: " in " | append:school.specialty %}
            {% assign location = school.location.city | append: ", " | append:school.location.country %}

            {% include school.html
                image=school.image
                title=school.name
                text=school.description
                specialty=degreeAndSpecialty
                location=location
                period=period
                fieldOfStudy=school.fieldOfStudy
            %}
        </div>
    {% endfor %}
</div>
{% endif %}