<!--<div class="card border-secondary mb-3 school-wrapper">-->
<!--        <div class="card-header">{{ include.header }}</div>-->
<!--        <div class="card-body text-secondary">-->
<!--            <h5 class="card-title">{{ include.title }}</h5>-->
<!--            <p class="card-text">-->
<!--            <div>{{ include.period }}</div>-->
<!--            <div>{{ include.location }}</div>-->
<!--            </p>-->
<!--            <p class="card-text">{{ include.text }}</p>-->
<!--            <p class="card-text">-->
<!--            <ul>-->
<!--                {% for field in include.fieldOfStudy %}-->
<!--                <li>{{ field }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            </p>-->
<!--        </div>-->

<!--</div>-->


<!--<div class="card card-accent-success mb-3" style="max-width: 18rem;">-->
<!--    <div class="card-header">Header</div>-->
<!--    <div class="card-body">-->
<!--        <h5 class="card-title">Success card title</h5>-->
<!--        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>-->
<!--    </div>-->
<!--</div>-->

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4 py-4 pl-4">
            <img alt="{{ include.image.alt }}" src="{{ include.image.src }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">{{ include.title }}</h4>
                <h5 class="card-title">{{ include.specialty }}</h5>
                <p class="card-text">{{ include.text }}</p>
                <p class="card-text"><small class="text-muted">{{ include.period }}</small></p>
            </div>
        </div>
    </div>
</div>
