<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4 py-4 pl-4">
            <img alt="{{ include.image.alt }}" src="{{ include.image.src }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">{{ include.title }}</h4>
                <h5 class="card-title">{{ include.specialty }}</h5>
                <p class="card-text">{{ include.text }}</p>
                <p class="card-text"><small class="text-muted">{{ include.period }}</small></p>
            </div>
        </div>
    </div>
</div>
